
{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Admin Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Registered Users', '',
                                    description='View and manage user accounts', icon='users icon') }}
                {{ dashboard_option('Add New User', '',
                                    description='Create a new user account', icon='add user icon') }}
                {{ dashboard_option('Invite New User', '',
                                    description='Invites a new user to create their own account', icon='add user icon') }}
            </div>
        </div>
    </div>
{% endblock %}