{%- extends "bootstrap/base.html" %}
{% block title %}Single Cell Methylome{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
<!-- Placeholder for login or logout -->
<div id="login_logout_div"> </div>

<script>
window.onload = function checkLogin() {
    {% if current_user.is_authenticated %}
    	// Show Login Button
    	$('#login_logout_div').replaceWith('<div id="logout_div" style="padding: 20px; text-align: right"> <a href="/logout">Logout</a> </div>');
		//var a = document.getElementById("logout_div");
		//a.onclick = function() {
			// Do logout procedures here
		//	alert("I am an alert box!");
		//}
	{% else %}
		// Show Logout Button
		$('#login_logout_div').replaceWith('<div id="login_div" style="padding: 20px; text-align: right"> <a href="/login">Login</a> </div>');
	{% endif %}
}
</script>

    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
    <link rel="stylesheet" type="text/css" href="./static/app.css">
{% endblock %}
{% block navbar %}
{{nav.frontend_top.render(
)}}
{% endblock %}