
{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{% macro header_items(current_user) %}
    {% set endpoints = [
      ('frontend.index', 'Home', 'home')
    ]%}
    {% set user = [] %}
    {#    This means that we are redirecting to the frontend.admin function if the current user is auhenticated.#}
{#    It is using the Jinja2 templates shared in the slack channel#}
{#    #}
    {% if current_user.is_authenticated %}
      {% set user = ([( 'frontend.index',  'Administrator Dashboard', 'user')]) %}
    {% endif %} 
    {{ render_menu_items( endpoints +  user ) }}
{% endmacro %}

{% macro create_dropdown(dropdown) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 2 %}
      <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
        <div class="inverted black menu">
          {{ create_dropdown(item[1]) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro desktop_nav(current_user, dropdown=None) %}
    <div class="computer tablet only row">
        <div class="ui fixed inverted black main menu">
            <div class="ui container">
                {{ header_items(current_user) }}
                {{ create_dropdown(dropdown) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ desktop_nav(current_user, dropdown=dropdown) }}
    </nav>
{% endmacro %}
